body {  margin: 0px 0px;}
.container_12 {
  /*background-image: url("iceland-road-glacier-explore-travel-001.jpg");*/
background-image: url("images/sky.jpg");}
header{background-image: url("images/back2.jpg");height: 70px;position: fixed;width: 960px;}
a:hover{background-color: #555;color: orange;}
header p {margin-top: 0px;text-align: center;font-size: 30px;font-family:cursive; color: orange}
nav{background-color:#66b3ff;/*display: inline;*/font-style: bold;
  font-size: 15px;height:40px;padding-top: 40px;margin-top: 20px}
nav li{display: inline;float: right;margin-right: 5px;}
nav a:hover{ background-color: #555;color: orange;}
footer{background-color: #0088cc;height: 50px;clear: both;margin-top:0px;}
footer h4{margin-bottom: 0px;font-size: 15px;text-align: center;}
p{font-family: serif;font-size: 14px}
footer a{float: right;margin-right: 5px;}
footer a:hover{  background-color: #555;  color: orange;}
.img2 p{
  font-family: cursive;
  font-size: 20px;
  margin-left: 10PX;
}
.img h3{
  font-family: Florence, cursive;
}
.img, .img1, .img2{margin-top: 20px;margin-bottom: 20px;height: 300px;}
/*.img{background-color: #BCD6EF;}*/
/*.img1 img:hover{background-color: #555;color: orange;}*/
/*.img img:hover{background-color: pink;color: orange;}*/
.img2 img{margin-left: 5px;}
.img1,.img,.img2{background-color:  #BCD6EF;}
/*.img2{background-color:  #BCD6EF;}*/
.img2 a:hover{background-color: #555;color: orange;}
 h3{text-align: center;}

/*.heroimg{ background-color: orange;height: 300px;margin-bottom: 20px;}*/
